In [279]:
import pandas as pd
import numpy as np

In [280]:
df=pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv',encoding="ISO-8859-1")

In [281]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [282]:
df.tail()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
2122,2901593,Wolters Kluwer Health,Circulation Research,Mechanistic Links Between Na+ Channel (SCN5A) ...,£1334.15
2123,3748854,Wolters Kluwer Health,AIDS,Evaluation of an empiric risk screening score ...,£1834.77
2124,3785148,Wolters Kluwer Health,Pediatr Infect Dis J,Topical umbilical cord care for prevention of ...,£1834.77
2125,PMCID:\n PMC3647051\n,Wolters Kluwer N.V./Lippinott,AIDS,Grassroots Community Organisations' Contributi...,£2374.52
2126,PMID: 23846567 (Epub July 2013),Wolters Kluwers,Journal of Acquired Immune Deficiency Syndromes,A novel community health worker tool outperfor...,£2034.75

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              2127 non-null object
Journal title                                          2126 non-null object
Article title                                          2127 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    2127 non-null object
dtypes: object(5)
memory usage: 83.2+ KB

In [284]:
#rename the column containg cost values to 'Cost'
df['Cost']=df['COST (£) charged to Wellcome (inc VAT when charged)'].apply(lambda col_cost:col_cost)

In [285]:
#drop previous cost column
df=df.drop('COST (£) charged to Wellcome (inc VAT when charged)',axis=1)

In [286]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [287]:
#split the cost value from the euro currency sign and store only the numeric values
df['Cost']=df2.Cost.str.split('£',expand=True)[1]

In [288]:
#change the data type of each cost in the data set to numeric 
df['Cost']=pd.to_numeric(df.Cost)

# Determine the five most common journals and the total articles for each?

In [289]:
#make all journal article names lower case plus remove spacing between words
def clean_journal(col):
    lower=col.str.lower()
    replace=lower.str.replace(' ','')
    return replace

#apply the clean_journal function to the journal title series
df['Journal title']=clean_journal(df['Journal title'])

#the five most common journals and total article for each
df['Journal title'].value_counts().head()

plosone                         200
journalofbiologicalchemistry     53
neuroimage                       29
nucleicacidsresearch             25
plosgenetics                     24
Name: Journal title, dtype: int64

# Calculate the mean, median, and standard deviation of the open-access cost per article for each journal?

In [290]:
#show the five most common journals article titles
df['Journal title'].value_counts().head(5).index

Index(['plosone', 'journalofbiologicalchemistry', 'neuroimage',
       'nucleicacidsresearch', 'plosgenetics'],
      dtype='object')

In [291]:
#calculate  the descriptive stats for each journals and print the results
for journal in df['Journal title'].value_counts().head(5).index:
    values=df[df['Journal title']==journal].Cost.describe()
    print(journal, values)

plosone count       200.000000
mean      41852.749850
std      196539.646565
min         122.310000
25%         850.785000
50%         897.090000
75%        1044.595000
max      999999.000000
Name: Cost, dtype: float64
journalofbiologicalchemistry count        53.000000
mean      20264.633962
std      137165.488398
min         265.670000
25%        1152.720000
50%        1314.530000
75%        1610.310000
max      999999.000000
Name: Cost, dtype: float64
neuroimage count      29.000000
mean     2215.168276
std       266.653947
min      1747.160000
25%      2100.540000
50%      2326.430000
75%      2396.570000
max      2503.340000
Name: Cost, dtype: float64
nucleicacidsresearch count      25.000000
mean     1160.880000
std       447.826633
min       710.000000
25%       852.000000
50%       852.000000
75%      1704.000000
max      2184.000000
Name: Cost, dtype: float64
plosgenetics count        24.000000
mean      84839.435000
std      281865.707794
min        1394.050000
25%        1484.862500
50%        1718.390000
75%        1778.225000
max      999999.000000
Name: Cost, dtype: float64

THANK YOU!