Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 
when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old 
when he joined the show. What are the mean, median, and mode of the kids' 
ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame()

df['age']=[14,12,11,10,8,6,8]

#df['names']=[Greg,Marcia,Peter,Jan,Bobby,Cindy]

df.head()

   age
0   14
1   12
2   11
3   10
4    8

In [25]:
df.mean()

age    9.857143
dtype: float64

In [26]:
df.median()

age    10.0
dtype: float64

In [27]:
df.mode()

   age
0    8

In [28]:
df.var()

age    7.47619
dtype: float64

In [29]:
np.std(df.age, ddof=1)

2.734262327610589

In [30]:
np.std(df.age, ddof=1)/np.sqrt(len(df.age))

1.0334540197243192

Using these estimates, if you had to choose only one estimate of central tendency 
and one estimate of variance to describe the data, which would you pick and why?

Answer: I would chose the median for centeral tendency measure and Standard error for variance.

Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

Answer: Mode and median vales of the centeral tendecy measures remain the same. 
    The std and standard error both went down eve little bit. Making this data 
    less varaiable than the one before.

In [3]:
df2 = df['age']

df2[5] = 7

df2.describe()

count     7.000000
mean     10.000000
std       2.516611
min       7.000000
25%       8.000000
50%      10.000000
75%      11.500000
max      14.000000
Name: age, dtype: float64

In [52]:
df2.median()

10.0

In [53]:
df2.mode()

0    8
dtype: int64

In [54]:
df2.var()

6.333333333333333

In [51]:
np.std(df2, ddof=1)/np.sqrt(len(df2))

6.333333333333333

Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. 
Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. 
Does this change your choice of central tendency or variance estimation methods?

Answer: the mean value remined about the same as well as the median values of
    the centeral tendency. However, the variance estimates were bit higher compared to
    the last two measurements.

In [7]:
df3 = df2

df3[6] = 1

df3

0    14
1    12
2    11
3    10
4     8
5     7
6     1
Name: age, dtype: int64

In [8]:
df3.mean()

9.0

In [9]:
df3.median()

10.0

In [10]:
df3.var()

18.0

In [14]:
std=np.std(df3, ddof=1)

std

4.242640687119285

In [15]:
std/np.sqrt(len(df3))

1.6035674514745462

On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans 
of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi 
Phanatic 5% fans. Based on these numbers, what percentage of adult Americans would you estimate were Brady 
Bunch fans on the 50th anniversary of the show?

In [ ]:
Answer: